- if user_signed_in?
  .devise
    .devise__on
      %p.name
        ユーザー：#{current_user.nickname}さん
      %ul.nav
        %li
          %a{:href => "/new"} 新規投稿
        %li= link_to "ログアウト", destroy_user_session_path, method: :delete
- else
  .devise
    .devise__off
      %ul.nav
        %li= link_to "ログイン", new_user_session_path, class: 'post'
        %li= link_to "新規登録", new_user_registration_path, class: 'post'